.itemContainer {
    background-color: white;
    border: 5px solid black;
    display: grid;
    /* gap: 20px; */
    grid-template-columns: max-content 1fr;
    padding: 20px;
    align-self: start;
    opacity: 1;
}

h2 {
    /* font-family: 'VT323', monospace; */
    font-family: 'Pixelify Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    letter-spacing: -0.1rem;
}

canvas {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    /* justify-self: center; */
}

img {
    width: 32px;
    height: 32px;
}
