ul {
    background-color: white;
    padding: 10px 40px 10px 30px;
    font-family: 'Pixelify Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    letter-spacing: -0.05rem;
    background-color: white;
    border: 5px solid black;
    opacity: 1;
}

/* .listButtons {
    display: block;
    border: none;
    padding: 0;
}

.listButtons:hover {
    color: lightcoral;
}

.selected {
    color: lightcoral;
}

.selected::before {
    content: '-> ';
    color: lightcoral;
} */

.unselectedButtons,
.selectedButtons {
    display: block;
    border: none;
    padding: 0;
}

.unselectedButtons:hover {
    color: lightcoral;
}

.unselectedButtons::after {
    content: ' <-';
    visibility: hidden;
}

.selectedButtons {
    color: lightcoral;
}

.selectedButtons::before {
    content: '-> ';
    color: lightcoral;
}
