.navBar {
	display: flex;
	margin: 20px 0px;
	gap: 20px;
	justify-content: space-between;
	width: 100%;
}

.navButtons {
	display: flex;
	gap: 20px;
	justify-content: flex-start;
}

.cartButton {
	justify-self: flex-end;
	background-color: pink;
}

.cartButton:hover {
	background-color: rgb(254, 141, 160);
}

button {
	font-family: 'Pixelify Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	letter-spacing: -0.05rem;
	background-color: white;
	border: 5px solid black;
}

.selected {
	background-color: lightsalmon;
}

.unselected:hover {
	border-color: lightsalmon;
}

button[data-wobble='1'] {
	animation: wobble 0.5s 1;
}

@keyframes wobble {
	25% {
		transform: rotate(7.5deg);
	}
	50% {
		transform: rotate(-15deg);
	}
	75% {
		transform: rotate(2.5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
